/* Reference: themekings.net 15 Jun 2012 CSS Horizontal Dropdown Navigation Menu */
/* Some stylesheet reset */
#top_nav_bar .nav, .nav ul {
	margin: 1;
	padding: 0;
	list-style: none;
	line-height: 1;
}

/* The main container class */
#top_nav_bar .nav {
	/* Layout and positioning */
	display: block;
	position: relative;
	height: 38px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #c1c1c1;

	/* Background and effects */
	background: #eaeaea; /* Background for IE9 and older browsers */
	background: black;
	box-shadow: inset 0 1px 0 #fff;
}

#top_nav_bar .nav>li {
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 0 1px 0 0;
}

/* The main navigation links */
#top_nav_bar .nav>li>a {
	/* Layout */
	display: block;
	padding: 11px 20px;

	/* Typography */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: white;
	text-shadow: 0 1px 0 #fff;

	/* Effects */
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

/* The hover state of the navigation links */
#top_nav_bar .nav>li>a:hover, .nav>li:hover>a {
	background: blue;
	background: blue;
	color: #999;
}

#top_nav_bar .nav>li:first-child>a {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#top_nav_bar .nav>.dropdown>a {
	padding-right: 26px;
}

/* The arrow indicating a dropdown menu */
#top_nav_bar .nav>.dropdown>a::after {
	 content: "";
	 position: absolute;
	 top: 14px;
	 right: 11px;
	 width: 6px;
	 height: 6px;
	 border-bottom: 1px solid #9a9a9a;
	 border-right: 1px solid #9a9a9a;
	 -webkit-transform: rotate(45deg);
	 -ms-transform: rotate(45deg);
	 -moz-transform: rotate(45deg);
	 -o-transform: rotate(45deg);
	}

/* Changing the color of the arrow on hover */
#top_nav_bar .nav>.dropdown>a:hover::after, .nav>.dropdown:hover>a::after {
	border-color: #999;
}

#top_nav_bar .nav ul {
	position: relative;
	position: absolute;
	left: -9999px;
	display: block;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

/* Level 1 submenus */
#top_nav_bar .nav>li>ul {
	padding-top: 0px;
	z-index: 99;
	border-top: 1px solid #c9c9c9;
	top: 34px;
}

/* Making the level 1 submenu to appear on hover */
#top_nav_bar .nav>li:hover>ul {
	left: -1px;
}

/* Level 2+ submenus */
#top_nav_bar .nav ul ul {
	left: -9999px;
	top: 0px;
	z-index: 999;
}

/* Making the level 2+ submenu to appear on hover */
#top_nav_bar .nav ul>li:hover>ul {
	left: 120px;
	top: -1px;
}

/* The submenu link containers */
#top_nav_bar .nav ul li {
	position: relative;
	display: block;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;

	/* Creating the slide effect. The list elements which contain the links have 0 height. On hover, they will expand */
	height: 0px;
	-webkit-transition: height .3s;
	-moz-transition: height .3s;
	-o-transition: height .3s;
	-ms-transition: height .3s;
}

/* Expanding the list elements which contain the links */
#top_nav_bar .nav li:hover>ul>li {
	height: 35px;
}

#top_nav_bar .nav ul li:hover>ul>li:first-child {
	height: 26px;
}

/* The links of the submenus */
#top_nav_bar .nav ul li a {
	/* Layout */
	display: block;
	width: 385px;
	padding: 6px 10px 6px 20px;
	border-bottom: 1px solid #e1e1e1;

	/* Typography */
	font-size: 22px;
	color: #a6a6a6;
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	
	/* Background & effects */
	background: #fff;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	-ms-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}

/* The hover state of the links */
#top_nav_bar .nav ul li>a:hover, .nav ul li:hover>a {
	background: #e9e9e9;
	color: #a1a1a1;
}

#top_nav_bar .nav ul ul>li:first-child>a {
	border-top: 1px solid #c1c1c1;
}

#top_nav_bar .nav ul>li:last-child>a {
	border-bottom: 1px solid #c1c1c1;
}


/* The arrow indicating a level 2+ submenu */
#top_nav_bar .nav ul>.dropdown>a::after {
	content: "";
	 position: absolute;
	 top: 10px;
	 right: 8px;
	 width: 4px;
	 height: 4px;
	 border-bottom: 1px solid #a6a6a6;
	 border-right: 1px solid #a6a6a6;
	 -webkit-transform: rotate(-45deg);
	 -ms-transform: rotate(-45deg);
	 -moz-transform: rotate(-45deg);
	 -o-transform: rotate(-45deg);
}

#top_nav_bar .nav ul>.dropdown:hover>a::after, .nav ul>.dropdown>a:hover::after {
	border-color: #a1a1a1;
}